:root{
  --bg-color: #FFFFFF;
  --app-color: #EEEEEE;
  --dark-text: #686868;
  --hover: #CCCCCC;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App{
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--app-color);
  color: #444444;
}

/*
.todos{

}
*/

.todo{
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: left;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.todo:hover{
  background-color: var(--hover);
}

.todo .checkbox{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.4rem;
  background-color: var(--bg-color);
  transition: 400ms;
}

.todo.is-complete{
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: left;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
}

.todo.is-complete:hover{
  background-color: var(--hover);
}

.todo.is-complete .checkbox{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.4rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(to bottom right, red, white);
}

.todo .text{
  font-size: 1rem;
  font-weight: 400;
}

.todo.is-complete .text{
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-text);
  text-decoration: line-through;
}

.todo .delete{
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 1rem;
  background-color: var(--app-color);
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
}

.addPopup{
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 4rem;
  color: black;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  font-weight: 500;
  cursor: pointer;
}

.closePopup{
  height: 2rem;
  width: 4rem;
  position: absolute;
  top:1rem;
  right: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 0.4rem;
  font-weight: 500;
  cursor: pointer;
}

.popup{
  position: relative;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  width: 45%;
  border-radius: 0.4rem;
}

input{
  width: 98%;
}

h1{
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}

h4{
  font-size: 1.25rem;
  font-weight: 700;
  color: #a1a1a1;
}